@import url('https://fonts.googleapis.com/css?family=Raleway');
@import '~antd/dist/antd.css';

html, body, .container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
}

.left-sider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 50%;
}

.right-sider {
  position: absolute;
  top: 5px;
  bottom: 5px;
  right: 5px;
  width: 50%;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

.story-bar {
  box-sizing: border-box;
  padding: 1em;
  overflow-y: auto;
}

.highlight {
  background-color: #9bd8ff;
  padding: 0.1em;
}

.switch {
  margin: 10px !important;
}